@(adminAccess: Boolean)

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Arty Monkeys - Register</title>
        <meta charset="utf-8">
        <meta name="description" content="Art and Language Classes for children in the Stirling and Fakirk area">
        <meta name="keywords" content="Art,Monkey,Kids,Toddler,Classes,Paint,Craft,Stirling,Falkirk,Central Scotland">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='shortcut icon' href="@routes.Assets.at("images/monkeyFace.jpg")" type='image/x-icon'/>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/slider.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.easing.1.3.js")"></script>
        <script src="@routes.Assets.at("javascripts/tms-0.4.1.js")"></script>
        <script src="@routes.Assets.at("javascripts/menu.js")"></script>
        <script>
        function populateLocationClassTimes(classLoc){
            var theurl = "/ajax/" + classLoc;
            $.ajax({url: theurl,
                    success: function(result){
                        $("#monkeyclasstimesdiv").html(result);
                    }
            })
        }
        </script>
        <script>
        $(document).ready(function () {
            $('.slider')._TMS({
                show: 0,
                pauseOnHover: true,
                prevBu: '.prev',
                nextBu: '.next',
                playBu: false,
                duration: 800,
                preset: 'fade',
                pagination: true,
                pagNums: false,
                slideshow: 7000,
                numStatus: false,
                banners: false,
                waitBannerAnimation: false,
                progressBar: false
            })
        });
    </script>
        <script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
        <link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
        <script type=text/javascript>
  window.google.identitytoolkit.signInButton(
    '#navbar', // accepts any CSS selector
    {
      widgetUrl: "oauth2callback",
      signOutUrl: "logoutsuccess.html",
    }
  );
        </script>

    </head>
    <body>
        <header id="main_header">
            <div class="fixedContainer">
                <div id="navbar"></div>
                <span class="home_icon_trigger">
                    <a href="index.html">
                        <img id="home_icon" src="@routes.Assets.at("images/home.png")">
                    </a>
                </span>

                <figure id="artymonkeys_logo_img">
                    <img id="artymonkeys_logo" src="@routes.Assets.at("images/artyMonkeysLogoCrop.jpg")">
                </figure>

                <span class="menu_trigger">
                    <img id="menu_icon" src="@routes.Assets.at("images/menuIcon.png")">
                </span>

                @if(adminAccess) {
                    <div>
                        <nav id="admin_menu">
                            <ul>
                                <li><a href="loginsuccess.html" class="clr-about">Admin Home</a></li>
                                <li><a href="managenews.html" class="clr-skills">Manage News</a></li>
                                <li><a href="customers.html" class="clr-classes">Customers</a></li>
                            </ul>
                        </nav>
                    </div>
                } else {
                    <div id="no_login_header_space"></div>
                }

                <div class="inlineblocked">
                    <nav id="main_menu">
                        <ul>
                            <li><a href="index.html" class="clr-home">Home</a></li>
                            <li><a href="about.html" class="clr-about">About Us</a></li>
                            <li><a href="skills.html" class="clr-skills">Skills</a></li>
                            <li><a href="classes.html" class="clr-classes">Classes</a></li>
                            <li><a href="monkeynews.html" class="clr-monkeynews">Monkey News</a></li>
                            <li class="current"><a href="contacts.html" class="clr-contact">Register</a></li>
                        </ul>
                    </nav>
                    <p id="artymonkeys_blurb">Encouraging creativity & imagination through fun arts and crafts classes</p>

                </div>

            </div>
        </header>
        <div id="wrapper">
            <section id="main_section_contact_us" class="contacts_top_margin">

                <article id="contactus">
                    <h3>Contact Us</h3>

                    <p>Send us your details now and we'll let you know about classes coming to you soon.</p>

                    <br>
                    <dl>
                        <dd><span>Telephone: </span>07794 190060</dd>
                    </dl>

                    <br>
                    <p>
                        We look forward to meeting you and your Arty Monkey soon!
                    </p>

                </article>

                <article id="emailus">
                    <h3 class="clr-4">Contact Form</h3>

                    <form id="form" method="post">

                        <div class="formelement">
                            <input class="inputtextboxmail" type="text" name="name" required placeholder="Your Name">
                        </div>

                        <div class="formelement">
                            <input class="inputtextboxmail" type="email" name="email" required placeholder="Best EMail">
                        </div>

                        <div class="formelement">
                            <input class="inputtextboxmail" type="tel" name="phone" required placeholder="Phone">
                        </div>

                        <br>

                        <div id="" class="formelement">
                            Preferred Class Location:
                            <select class="howdidyouhear" name="location" required onchange="populateLocationClassTimes(this.value);" >
                                <option selected disabled hidden value=''></option>
                                <option value="briarlands">Briarlands Farm, Near Stirling</option>
                                <option value="baristas">Baristas Coffee House, Falkirk</option>
                            </select>
                        </div>

                        <div id="monkeyclasstimesdiv" class="formelement">
                            Time:
                            <select id="monkeyclasstimes" class="howdidyouhear" name="time" required>
                                <option selected disabled hidden value=''></option>
                            </select>
                        </div>

                        <br>

                        <fieldset>
                            <strong>Little Monkey Details</strong>
                            <br>
                            <br>
                            <div class="formelementlittlemonkey">
                                Total Number:
                                <input class="howdidyouhear" name="numberofmonkeys" type="number" size="2" min="1" max="20" value="1" required>
                            </div>

                            <div>
                                <div class="formelementlittlemonkey">
                                    <input class="howdidyouhear" type="text" name="monkey1name" placeholder="Monkey One's Name" required>
                                </div>

                                <div class="formelementlittlemonkey">
                                    Date Of Birth:
                                    <input class="howdidyouhear" type="date" name="monkey1dob" required>
                                </div>
                            </div>

                            <div>
                                <div class="formelementlittlemonkey">
                                    <input class="howdidyouhear" type="text" name="monkey2name" placeholder="Monkey Two's Name">
                                </div>

                                <div class="formelementlittlemonkey">
                                    Date Of Birth:
                                    <input class="howdidyouhear" type="date" name="monkey2dob">
                                </div>
                            </div>

                            <div>
                                <div class="formelementlittlemonkey">
                                    <input class="howdidyouhear" type="text" name="monkey3name" placeholder="Monkey Three's Name">
                                </div>

                                <div class="formelementlittlemonkey">
                                    Date Of Birth:
                                    <input class="howdidyouhear" type="date" name="monkey3dob">
                                </div>
                            </div>

                        </fieldset>
                        <br>

                        <div class="formelementhowdidyouhear">
                            How did you hear about us?
                            <select class="howdidyouhear" name="howdidyouhear" required>
                                <option selected disabled hidden value=''></option>
                                <option value="briarlands">Briarlands Farm</option>
                                <option value="baristas" >Baristas Coffee House</option>
                                <option value="facebook">Facebook</option>
                                <option value="google" >Google</option>
                                <option value="netmums">Netmums</option>
                                <option value="nursery" >Nursery</option>
                                <option value="referral" >Referral</option>
                                <option value="other" >Other - please state</option>
                            </select>
                        </div>

                        <div class="formelement">
                            <textarea class="howdidyouhearextratextbox" name="howdidyouhearextra"></textarea>
                        </div>

                        <br>

                        <label id="emailmessage">
                            Message:
                            <textarea class="messagetextboxmail" name="message"></textarea>
                        </label>

                        <input class="sendemailbutton" type="submit" value="Send">
                    </form>
                </article>
            </section>
        </div>
        <footer id="main_footer">
            <p class="clr-0">Website Template by <a class="link clr-0" href="http://www.templatemonster.com/"
            target="_blank"
            rel="nofollow">www.templatemonster.com</a></p>
        </footer>

    </body>
</html>
