<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Arty Monkeys - Monkey News</title>
        <meta charset="utf-8">
        <meta name="description" content="Art and Language Classes for children in the Stirling and Falkirk area">
        <meta name="keywords" content="Art,Monkey,Kids,Toddler,Classes,Paint,Craft,Stirling,Falkirk,Central Scotland">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='shortcut icon' href="@routes.Assets.at("images/monkeyFace.jpg")" type='image/x-icon'/>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/slider.css")">
        <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>
        <script src="@routes.Assets.at("javascripts/jquery-1.7.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.easing.1.3.js")"></script>
        <script src="@routes.Assets.at("javascripts/tms-0.4.1.js")"></script>
        <script src="@routes.Assets.at("javascripts/menu.js")"></script>
        <script>
        $(document).ready(function () {
            $('.slider')._TMS({
                show: 0,
                pauseOnHover: true,
                prevBu: '.prev',
                nextBu: '.next',
                playBu: false,
                duration: 800,
                preset: 'fade',
                pagination: true,
                pagNums: false,
                slideshow: 7000,
                numStatus: false,
                banners: false,
                waitBannerAnimation: false,
                progressBar: false
            })
        });
    </script>
    </head>
    <body>
        <header id="main_header">
            <div class="fixedContainer">
                <span class="home_icon_trigger">
                    <a href="index.html">
                        <img id="home_icon" src="@routes.Assets.at("images/home.png")">
                    </a>
                </span>

                <figure>
                    <img id="artymonkeys_logo" src="@routes.Assets.at("images/artyMonkeysLogoCrop.jpg")">
                </figure>

                <span class="menu_trigger">
                    <img id="menu_icon" src="@routes.Assets.at("images/menuIcon.png")">
                </span>

                <nav id="main_menu" class="inlineblocked">
                    <ul>
                        <li><a href="index.html" class="clr-home">Home</a></li>
                        <li><a href="about.html" class="clr-about">About Us</a></li>
                        <li><a href="skills.html" class="clr-skills">Skills</a></li>
                        <li><a href="classes.html" class="clr-classes">Classes</a></li>
                        <li class="current"><a href="monkeynews.html" class="clr-monkeynews">Monkey News</a></li>
                        <li><a href="contacts.html" class="clr-contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="wrapper">
            <section id="main_section" class="skills_top_margin">

                <article class="monkeynews">
                    <h3 class="monkeyh3">The Importance of Art in Child Development</h3>
                    <time class="monkeytime" datetime="27th April 2015" pubdate>27th April 2015</time>
                    <a href="http://www.pbs.org/parents/education/music-arts/the-importance-of-art-in-child-development/">
                        This article </a>
                    by Grace lynch really struck a chord because ...
                </article>

                <article class="monkeynews">
                    <h3 class="monkeyh3">Cbeebies - How art and music help children to learn</h3>
                    <time class="monkeytime" datetime="18th April 2015" pubdate>18th April 2015</time>
                    <a href="http://www.bbc.co.uk/cbeebies/grownups/article-art-and-music">The Cbeebies </a>
                    here really do ...
                </article>

                <article class="monkeynews">
                    <h3 class="monkeyh3">The Value of Art for the Preschool Child</h3>
                    <time class="monkeytime" datetime="25th April 2015" pubdate>25th April 2015</time>
                    <a href="http://www.education.com/pdf/value-art-preschool-children/">This document </a>
                    caught our eye because ...
                </article>

            </section>
        </div>
        <footer id="main_footer">
            <p class="clr-0">Website Template by <a class="link clr-0" href="http://www.templatemonster.com/"
            target="_blank"
            rel="nofollow">www.templatemonster.com</a></p>
        </footer>
    </body>
</html>
